html {
  overflow-x:  hidden;
}

table, th, tr {
  border: 1px solid black;
}

.mapContainer {
  position: relative;
  width: 80vw;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.map {
  width: 5200px;
  height: 480px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.mapElement {
  background-color: aqua;
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapElement img {
  width: 48px;
  height: 48px;
}

#hoverInfo {
  position: absolute;
  border: 1px solid black;
  padding: 8px;
  background-color: white;
  visibility: hidden;
  z-index: 100;
  pointer-events: none;
}